/*Controls CSS for the whole page*/
/** {
  box-sizing: border-box;
  border-color: black;
  background-color: #F8F8F8;
}*/

/*#draggable { width: 150px; height: 150px; margin-left: 20%; }*/

html, body {
  scroll-behavior: smooth;
  background-color: #F8F8F8;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0%; /* This gets rid of a small line that appears on the left hand side of the screen, like everything has slight padding */
  justify-content: center;
  margin: auto;
  width: 1500px; 
}

h2 {
font-family: "Fjord One"; 
font-size: 180%; 
font-style: normal; 
font-variant: normal; 
font-weight: 200; 
/*line-height: 26.4px; */
}


h1 {
font-family: "Fjord One"; 
font-size: 310%; 
font-style: normal; 
font-variant: normal; 
font-weight: normal; 
background-color: transparent;
}

h5 {
font-family: "Fjord One"; 
font-size: 110%; 
font-weight: 200; 
}

hr {
  height: 2px;
/*  color: #b5a6ff;*/
  background-color: black;
}

p {
font-family: "Fjord One"; font-size: 100%; 
}

u {
  background-color: transparent;
}

a.nav:link, a.nav:hover, a.nav:active, a.nav:visited  
{
  background: transparent;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  cursor: pointer; /* Pointer/hand icon */
  font-family: "Fjord One"; 
  font-size: 110%; 
  margin: 50px;
  padding: .25px;
}

a.nav:hover, a.nav:active
{
  background: #96fff5;
/*  background: #8accff; saving this bc it's alec's favorite color*/ 
  border-radius: 4px;
  color: black;
  text-decoration: underline;
  padding: .25px;
/*  font-size: 25px; */
}

a.nav1:link, a.nav1:hover, a.nav1:active, a.nav1:visited  
{
  background: transparent;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  cursor: pointer; /* Pointer/hand icon */
  font-family: "Fjord One"; 
  font-size: 110%; 
  margin: 50px;
  padding: .25px;
}

a.nav1:hover, a.nav1:active
{
  background: #b5a6ff;
/*  background: #8accff; saving this bc it's alec's favorite color*/ 
  border-radius: 4px;
  color: black;
  text-decoration: underline;
  padding: .25px;
/*  font-size: 25px; */
}

a.nav2:link, a.nav2:hover, a.nav2:active, a.nav2:visited  
{
  background: transparent;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  cursor: pointer; /* Pointer/hand icon */
  font-family: "Fjord One"; 
  font-size: 110%; 
  margin: 50px;
  padding: .25px;
}

a.nav2:hover, a.nav2:active
{
  background: #b8fc6f;
/*  background: #8accff; saving this bc it's alec's favorite color*/ 
  border-radius: 4px;
  color: black;
  text-decoration: underline;
  padding: .25px;
/*  font-size: 25px; */
}


/*ffac30, fff830, b8fc6f, 96fff5, b5a6ff*/

#puzzletext {
  background-color: #f8f8f8;
}

a.pz:link, a.pz:hover, a.pz:active, a.pz:visited  
{
  background: #f8f8f8;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  padding: .25px;
}

a.pz:hover, a.pz:active
{
  background: #f8f8f8;
  border-radius: 4px;
  color: black;
/*  text-decoration: underline;*/
  padding: .25px;
}

.highlight {
  background: #c7efff;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  padding: .25px;
}

.highlight1 {
  background: #ffc978;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  padding: .25px;
}

.highlight2 {
  background: #cfff30;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  padding: .25px;
}

a.hl:link, a.hl:hover, a.hl:active, a.hl:visited  
{
  background: #b0deff;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  padding: .25px;
}

a.hl:hover, a.hl:active
{
  background: #8acfff;
  border-radius: 4px;
  color: black;
  text-decoration: underline;
  padding: .25px;
}

a.ex5:link, a.ex5:hover, a.ex5:active, a.ex5:visited  
{
  background: none;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  padding: .25px;
}

a.ex5:hover, a.ex5:active
{
  background: #8acfff;
  border-radius: 4px;
  color: black;
  text-decoration: underline;
  padding: .25px;
}

a.ex4:link, a.ex4:hover, a.ex4:active, a.ex4:visited  
{
  background: none;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  padding: .25px;
}

a.ex4:hover, a.ex4:active
{
  background: #af8cff;
  border-radius: 4px;
  color: black;
  text-decoration: underline;
  padding: .25px;
}

a.ex3:link, a.ex3:hover, a.ex3:active, a.ex3:visited  
{
  background: none;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  padding: .25px;
}

a.ex3:hover, a.ex3:active
{
  background: #8cffa5;
  border-radius: 4px;
  color: black;
  text-decoration: underline;
  padding: .25px;
}

a.ex2:link, a.ex2:hover, a.ex2:active, a.ex2:visited  
{
  background: none;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  padding: .25px;
}

a.ex2:hover, a.ex2:active
{
  background: #ffa3a3;
  border-radius: 4px;
  color: black;
  text-decoration: underline;
  padding: .25px;
}

a.ex1:link, a.ex1:hover, a.ex1:active, a.ex1:visited  
{
  background: none;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  padding: .25px;
}

a.ex1:hover, a.ex1:active
{
  background: #fffc9c;
  border-radius: 4px;
  color: black;
  text-decoration: underline;
  padding: .25px;
}

a.ex:link, a.ex:hover, a.ex:active, a.ex:visited  
{
  background: none;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  padding: .25px;
}

a.ex:hover, a.ex:active
{
  background: #b5fff8;
  border-radius: 4px;
  color: black;
  text-decoration: underline;
  padding: .25px;
}

.btn-group button {
  background-color: transparent; /* Transparent background */
  border: transparent; /* Transparent border */
  color: black; /* Black text */
  padding: 10px 50px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: center; /* Float the buttons side by side */
  font-family: "Fjord One"; 
  font-size: 18px; 
}

/* Add underline on hover */
.btn-group button:hover {
  text-decoration: underline;
}

.navigation { /* container where site navigation buttons sit */
  padding-top: 0%;
  padding-bottom: 0%;
  font-size: 42;
  text-align: center;
  background: white;
  color: black;
  position: relative;
  background-color: #f8f8f8;
}

.pagewidth, #width { /* width of content box remains the same, even when zoomed in or out (note that the text still spreads out as the page grows) */
  margin: auto;
  width: 75%;
  padding: 1.5%;
/*  background: linear-gradient(#F8F8F8);*/
}

/*Header (Hi, I'm Allyson and text below*/
.header{
  width: 100%;
  float: left;
  background-color: transparent;
  position: relative;
  display: inline-block;
}

/*What I'm Doing, What I've Done, What I've Learned Section*/
.aboutmesection{
  width: 100%;
  float: left;
  background-color: transparent;
  position: relative;
}

.square {
  height: 5px;
  width: 100%;
  background-color: pink;
}

.largetext{
  width:39%;
  position: relative;
  float: left;
}

/*About me description section (text blocks next to what I'm doing/ done/ learned etc.*/
.description{
  width:61%;
  position: relative;
/*  background-color: #F0F;*/
  float: right;
}

#puzzle_piece_container {
  position: relative;
  float: center;
  width: 1500px;
}

/*#puzzle_piece_container2 {
  position: relative;
  background-color: blue;
}
*/
#puzzle_key_container {
  position: relative;
  z-index: 0;
  display: flex;
  background-color: red;
/*  height: 100%;*/
}

.puzzlecontainer {
  margin-left: 50%;
/*  margin-bottom: 95%;*/
  position: relative;
  z-index: 9;
}

.puzzlecontainer1 {
  margin-left: 30%;
  position: relative;
  z-index: 9;
}

#puzzlekey{
  color: #f8f8f8;
  text-shadow: 0 0 3px black;
  z-index: 1;
  position: absolute;
  margin-left: 2%;
  transform: translate(0, -30%);
  font-size: 284%;
  background-color: transparent;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(-1px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 1px) rotate(-1deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(1px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#puzzle1{
  color: #ffac30;
  z-index: 9;
  margin-top: 1%;
  margin-left: 11%;
  font-size: 500%;
  position: absolute;
  transform: translate(0, 0);
  background-color: transparent;
  text-shadow: 0 0 3px black;
}

#puzzle1:hover {
  animation: shake 0.5s;
  cursor: pointer;
  animation-iteration-count: .75;
}

#puzzle2{
color: #fff830;
z-index: 9;
margin-top: 11%;
margin-left: -8%;
font-size: 500%;
position: absolute;
transform: translate(0, 0);
background-color: transparent;
text-shadow: 0 0 3px black;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); 
}

#puzzle_piece_container2 {
  position: relative;
  margin-top: 10%;
}

#puzzle2:hover {
  animation: shake_twoandfive 0.5s;
  cursor: pointer;
  animation-iteration-count: .75;
}

#puzzle3{
color: #b8fc6f;
  z-index: 9;
font-size: 500%;
text-shadow: 0 0 3px black;
position: absolute;
margin-top: 40%;
margin-left: -9%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); 
}


#puzzle3:hover {
  animation: shake_three 0.5s;
  cursor: pointer;
  animation-iteration-count: .75;
}

#puzzle4{
  color: #96fff5;
/*  text-shadow: 0 0 3px black;*/
  z-index: 9;
font-size: 500%;
text-shadow: 0 0 3px black;
position: absolute;
margin-top: 45%;
margin-left: 60%;
  background-color: transparent;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); 
}

#puzzle4:hover {
  animation: shake_four 0.5s;
  cursor: pointer;
  animation-iteration-count: .75;
}

@keyframes shake_three {
  0% { transform: translate(1px, 1px) rotate(180deg); }
  10% { transform: translate(-1px, -1px) rotate(179deg); }
  20% { transform: translate(-1px, 0px) rotate(181deg); }
  30% { transform: translate(1px, 1px) rotate(180deg); }
  40% { transform: translate(1px, -1px) rotate(181deg); }
  50% { transform: translate(-1px, 1px) rotate(179deg); }
  60% { transform: translate(-1px, 1px) rotate(180deg); }
  70% { transform: translate(1px, 1px) rotate(179deg); }
  80% { transform: translate(-1px, -1px) rotate(180deg); }
  90% { transform: translate(1px, 1px) rotate(180deg); }
  100% { transform: translate(1px, -2px) rotate(179deg); }
}

@keyframes shake_four {
  0% { transform: translate(1px, 1px) rotate(270deg); }
  10% { transform: translate(-1px, -1px) rotate(269deg); }
  20% { transform: translate(-1px, 0px) rotate(271deg); }
  30% { transform: translate(1px, 1px) rotate(270deg); }
  40% { transform: translate(1px, -1px) rotate(271deg); }
  50% { transform: translate(-1px, 1px) rotate(269deg); }
  60% { transform: translate(-1px, 1px) rotate(270deg); }
  70% { transform: translate(1px, 1px) rotate(269deg); }
  80% { transform: translate(-1px, -1px) rotate(270deg); }
  90% { transform: translate(1px, 1px) rotate(270deg); }
  100% { transform: translate(1px, -2px) rotate(269deg); }
}

@keyframes shake_twoandfive {
  0% { transform: translate(1px, 1px) rotate(90deg); }
  10% { transform: translate(-1px, -1px) rotate(89deg); }
  20% { transform: translate(-1px, 0px) rotate(91deg); }
  30% { transform: translate(1px, 1px) rotate(90deg); }
  40% { transform: translate(1px, -1px) rotate(91deg); }
  50% { transform: translate(-1px, 1px) rotate(89deg); }
  60% { transform: translate(-1px, 1px) rotate(90deg); }
  70% { transform: translate(1px, 1px) rotate(89deg); }
  80% { transform: translate(-1px, -1px) rotate(90deg); }
  90% { transform: translate(1px, 1px) rotate(90deg); }
  100% { transform: translate(1px, -2px) rotate(89deg); }
}

#puzzle5{
color: #b5a6ff;
z-index: 9;
font-size: 500%;
text-shadow: 0 0 3px black;
position: absolute;
margin-top: 9%;
margin-left: 65%;

  background-color: transparent;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); 
}

#puzzle5:hover {
  animation: shake_twoandfive 0.5s;
  cursor: pointer;
  animation-iteration-count: .75;
}

.text {
  display: block;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  padding: 1.9em 0 0 1.2em;
  position: relative;
  background: transparent !important;
}


.photo{
  width: 25%;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 50% solid red;
  border-right: 50% solid transparent;
  border-top: 100% solid transparent
/*  z-index: -9999;*/
}

.footer {   
/*  position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

/* Footer */
.footer-social-icons {
    width: fit-content;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}

.social-icon {
    color: black;
    margin-left: 2.5px;
    margin-right: 2.5px;
    background-color: transparent;    

    padding: 0px;
    border-radius: 3px;
}

#icon {

    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 3px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-instagram:hover {
    color: #fff;
    vertical-align: middle;
    background-color: #d6249f;
    background: radial-gradient(circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%);
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-github:hover {
    background-color: #5a32a3;
}

.fa-envelope:hover {
    background-color: #f0f;
}

.fa-spotify:hover {
    background-color: #1db954;
}

.fa-reddit:hover {
    background-color: #ff5700;
}

.fa-medium:hover {
    background-color: #00ab6c;
}

.fa-telegram:hover {
    background-color: #0088cc;
}

@media only screen and (max-width: 1330px) {

html, body {
  scroll-behavior: smooth;
  background-color: #F8F8F8;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0%; /* This gets rid of a small line that appears on the left hand side of the screen, like everything has slight padding */
  margin: auto;
}

#puzzle_piece_container {
  position: relative;
  float: left;
  width: 100%;
}

.pagewidth, #width { /* width of content box remains the same, even when zoomed in or out (note that the text still spreads out as the page grows) */
  margin: auto;
  width: 75%;
  padding: 1.5%;
/*  background: linear-gradient(#F8F8F8);*/
}


#puzzle2{
  margin-top: 15%;
  margin-left: -12%;
}

#puzzle1{
  margin-top: 40%;
  margin-left: -12%;
}

#puzzle3{
  margin-top: 70%;
  margin-left: -12%;
  touch-action: none;
  user-select: none;

}

#puzzle4{
  margin-top: 100%;
  margin-left: -12%;
}

#puzzle5{
  margin-top: 130%;
  margin-left: -12%;
}

#puzzlekey{
/*  position: absolute;
  margin-left: 45%;*/
}

}
