html {
  margin: 1%;
  height: 100%;
  margin: auto;
  overflow-y: scroll;
}

body {
  background: #fff1fc;
  font-family: monospace, monospace;
  position: absolute;
  margin: 5%;
}

a.nav:link,
a.nav:hover,
a.nav:active,
a.nav:visited {
  color: black;
  text-decoration: none;
  cursor: pointer; /* Pointer/hand icon */
}

a.nav:hover,
a.nav:active {
  background: #b8d3ff;
  /*  background: #8accff; saving this bc it's alec's favorite color*/
  border-radius: 4px;
  color: black;
  text-decoration: underline;
  padding: 0.25px;
}

a.nav1:active {
  background: #8accff;
  /*  background: #8accff; saving this bc it's alec's favorite color*/
  border-radius: 4px;
  color: black;
  text-decoration: underline;
  padding: 0.25px;
}

.topright {
  top: 5%;
  left: 2%;
}

.blogPost {
  position: relative;
  left: 2%;
}

.body {
  top: 13%;
  left: 10%;
  right: 10%;
  line-height: 1.6;
}

.footer-words {
  position: fixed;
  left: 5%;
  bottom: 5%;
  width: 100%;
}

#icon {
  color: black;
  font-size: 150%;
  text-decoration: none;
}

.fa-github:hover {
  background: #ffa0e9;
  border-radius: 4px;
  padding: 0.25px;
}
.fa-medium:hover {
  background: #ffa0e9;
  border-radius: 4px;
  padding: 0.25px;
}
